@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #527abb;
    --hamburger: #705cff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #527abb;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
/* burger 06 */
.burger-6 #ck-6 {
    display: none;
}

.burger-6 .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition-duration: 0.5s;
}

.burger-6 .bars {
    width: 100%;
    height: 7px;
    background: var(--hamburger);
    border-radius: 6px;
    border: var(--hamburger);
}

.burger-6 #bar2 {
    transition-duration: 0.8s;
}

.burger-6 #bar1,
#bar3 {
    width: 70%;
}

.burger-6 input[type='checkbox']:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
}

.burger-6 input[type='checkbox']:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
}

.burger-6 input[type='checkbox']:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
}

.burger-6 input[type='checkbox']:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
}

.burger-6 input[type='checkbox']:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
}
